    * {
        padding: 0;
        margin: 0;
    }
    .list1 li, .list2 li {
        position: relative;
        display: block;
        width: 100%;
        height: 200px;
        border:0    }
    .wrap li {
        font-size: 20px;
        text-align: center;
    }
    .wrap li a{
        vertical-align: middle;
        line-height: 200px;
    }
    .list1 li {
        background-color: lightblue;
    }
    .list2 li {
        background-color: lightgreen;
    }
    .footer{
        height: 2000px;
        background-color: yellow;
    }
